@font-face {
    font-family: 'Poppins';
    src: url('polices/Poppins-Regular.ttf')
}

@font-face {
    font-family: 'Noto sans';
    src: url('polices/NotoSans-Bold.ttf')
}

@font-face {
    font-family: 'The Andallass';
    src: url('polices/The Andallass.ttf')
}

@font-face {
    font-family: 'Andre';
    src: url('polices/AndreMartinDemoRegular.ttf')
}

@font-face {
    font-family: 'Quostige';
    src: url('polices/Quostige.ttf')
}

*{
    margin: 0;
    padding: 0;
}

body{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.certificat{
    background: #FFF;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 1px;
}

.cdr1{
    width: 92%;
    height: 50%;
    position: absolute;
    border-top: 1px solid #FFF;
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.top{
    width: 100%;
    height: 45%;
    background: linear-gradient(-135deg, #4158D0, #00B2FF);
    position: relative;
    z-index: 1;
}

.top .logo{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    font-family: 'Poppins';
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 15px;
}

.top .title{
    position: absolute;
    top: 40%;
    left: 5%;
}

.top .title h1{
    color: #FFF;
    font-family: 'Poppins';
    letter-spacing: 11px;
    font-size: 35px;
    text-transform: uppercase;
}

.top .icon{
    position: absolute;
    top: -12%;
    right: 5%;
    font-size: 180px;
}

.top .icon i{
    color: #FFF;
}

.top .cl{
    position: absolute;
    top: 9%;
    right: 6.2%;
    /* border-top: 2px solid #00B2FF; */
    /* border-bottom: 2px solid #00B2FF; */
    padding: 6px 0;
}

.top .cl p{
    font-family: 'Poppins';
    font-size: 13px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: .5px;
}

.top .cl p:nth-child(2) span{
    font-family: 'The andallass';
    text-transform: lowercase;
    font-size: 35px;
    letter-spacing: 0;
}

.top .title p{
    color: #FFF;
    font-family: 'Poppins';
    font-size: 14px;
    letter-spacing: 1px;
    transform: translateY(150%);
}

.bottom{
    width: 100%;
    height: 55%;
    position: relative;
    background: url('images/2201_w030_n002_291b_p1_291.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    z-index: 10;
}

.bottom .content{
    width: 100%;
    height: 100%;
    position: relative;
    background: rgba(255, 255, 255, .9);
}

.bottom .content .name{
    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Poppins';
}

.bottom .content .name h1{
    font-weight: 200;
    font-size: 54px;
    letter-spacing: 4px;
}

.bottom .content .desc{
    position: absolute;
    top: 45%;
    left: 5%;
    font-family: 'Poppins';
    font-size: 14px;
    /* letter-spacing: .1px; */
}

.bottom .content .desc span{
    display: block;
}

.bottom .content .desc span:nth-child(2){
    transform: translateX(2.5%);
}

.bottom .content .desc span:nth-child(3){
    transform: translateX(2.5%);
}

.bottom .content .sign{
    position: absolute;
    top: 70%;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom .content .sign .one{
    transform: translateY(-120%);
    text-align: center;
    font-family: 'Poppins';
    font-size: 13px;
}

.bottom .content .date{
    position: absolute;
    top: 75%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom .content .date .line, .sign .line{
    width: 130px;
    height: 1px;
    background: #313131;
    margin: 8px 0;
}

.bottom .content .date .one{
    font-family: 'Noto Sans';
    font-size: 15px;
    letter-spacing: .5px;
}

.bottom .content .date .two, .sign .two{
    font-family: 'Poppins';
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .5px;
}

.bottom .content .place{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

.bottom .content .place p{
    font-family: 'Noto Sans';
    font-size: 75px;
    text-align: center;
}

.bottom .content .place, .bottom .content .place span{
    background: linear-gradient(-135deg, #00B2FF, #4158D0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottom .content .place p span{
    font-size: 50px;
    font-family: 'The Andallass';
    transform: translateY(-150%) translateX(100%);
    display: block;
}
